$yellow: #ffd400;
$primary: #022c43;

.custom_button {
    text-decoration: none;
    // background-color: $yellow;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $yellow;
    border: solid $yellow 1px;
    margin-top: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
        background-color: $yellow;
        color: $primary;
    }
}